app:
  msServers:
    - msName: Multiple Service App Name
      msUrl: "http://some-url/path"
      msStatusKeys:
        - displayName: Elasticsearch
          jName: elasticsearch
        - displayName: Elasticache
          jName: elasticache
  ssServers:
    - ssName: Some App Name
      ssUrl: "http://some-url/path"
